svg {
  display: block;
  margin: 0 auto;
}

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: .5em;
}

.d3-pool-label {
  font-family: sans-serif;
  font-variant: small-caps;
  font-size: .6em;
  baseline-shift: super;
}