// e.g., pool labels
@text: #808080;

// one-day view tideline background rectangle fill colors
@darkest: #DCE4E7;
@dark: #E3EAED;
@lighter: #E9EFF1;
@light: #F2F4F6;
@lightest: #F8F9FA;

// blood glucose colors
@bg-low: #FF8B7C;
@bg-target: #9AD859;
@bg-high: #BB9AE7;