@import 'tideline-colors.less';

svg {
  display: block;
  margin: 0 auto;
}

// x-axis
.axis {
  path, line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }
  text {
    font-family: sans-serif;
    font-size: .5em;   
  }
}

.d3-pool-label {
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  fill: @text;
  baseline-shift: super;
}

.d3-rect-fill {
  &.darkest {
    fill:@darkest;
  }
  &.dark {
    fill:@dark;
  }
  &.light {
    fill:@light;
  }
  &.lighter {
    fill:@lighter;
  }
  &.lightest {
    fill:@lightest;
  }
}

.cbg {
  &.low {
    fill: @bg-low;
  }
  &.target {
    fill: @bg-target;
  }
  &.high {
    fill: @bg-high;
  }
}