:root .diabeloop-blue{
  --color-primary-main: #039be5;
  --color-primary-light: #4dabf5;
  --color-primary-dark: #1769aa;

  --color-secondary-main: #EDFAFF;
  --color-secondary-light: #F5F9F9;
  --color-secondary-dark: #bbc7cc;

  --blip-color-primary-light: #4dabf5;
  --blip-color-primary-alt: #039be5;
  --blip-color-secondary-alt: #EDFAFF;
}

:root .diabeloop-pink {
  --color-primary-main: #e72980;
  --color-primary-light: #ff67af;
  --color-primary-dark: #af0054;

  --color-secondary-main: #ffedf6;
  --color-secondary-light: #fcf1f7;
  --color-secondary-dark: #ccbbc5;

  --blip-color-primary-light: #ff67af;
  --blip-color-primary-alt: #d92575;
  --blip-color-secondary-alt: #ffedf7;
}

:root .diabeloop-green{
  --color-primary-main: #109182;
  --color-primary-light: #F7F7F8;
  --color-primary-dark: #006356;

  --color-secondary-main: #E5F0F0;
  --color-secondary-light: #F5F9F9;
  --color-secondary-dark: #D4E6E6;

  --blip-color-primary-light: #6fc3bb;
  --blip-color-primary-alt: #006c71;
  --blip-color-secondary-alt: #eef5f9;
}
