body {
  height: 100vh;
  margin: 0;
}

:global(#app) {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

:global(p.loading) {
  text-align: center;
  font-family: "Basis";
}

:global(div.api-error-message) {
  display: inline-flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
  align-self: center;
  min-width: 25em;
}
