body {
  height: 100vh;
  margin: 0;
  display: "flex";
  flex-direction: "column";
}

html {
  height: 100%;
}

:global(#app) {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

:global(p.loading) {
  text-align: center;
  font-family: "Basis";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

:global(div.api-error-message) {
  display: flex;
  flex-direction: column;
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
  :global(div.api-error-message) {
    width: 80%;
  }
}
