{
  "env": {
    "mocha": true,
    "node": true
  },
  "globals": {
    "assert": false,
    "expect": false,
    "sinon": false
  },
  "rules": {
    "function-paren-newline": 0,
    "import/first": 0,
    "import/no-useless-path-segments": 0,
    "indent": 0,
    "lodash/prefer-lodash-method": ["error", {
      "ignoreMethods": ["find", "split", "trim", "replace"]
    }],
    "no-prototype-builtins": 0,
    "no-unused-expressions": 0,
    "no-useless-escape": 0,
    "object-property-newline": 0,
    "operator-assignment": 0,
    "react/jsx-curly-brace-presence": 0,
    "space-unary-ops": 0
  }
}
