{
  "env": {
    "mocha": true,
    "node": true
  },
  "globals": {
    "assert": false,
    "expect": false,
    "sinon": false
  },
  "rules": {
    "lodash/prefer-lodash-method": ["error", {"except": ["find"]}], // because of Enzyme .find
    "no-unused-expressions": "off"
  }
}