:root {
  --color-primary-main: #e72980;
  --color-primary-light: #ff67af;
  --color-primary-dark: #af0054;

  --color-secondary-main: #ffedf6;
  --color-secondary-light: #fcf1f7;
  --color-secondary-dark: #ccbbc5;

  --blip-color-primary-light: #ff67af;
  --blip-color-primary-alt: #d92575;
  --blip-color-secondary-alt: #ffedf7;
}
