# These env variables are required. Because they are used by the cdk code
# However Beware that other env var are required by pre-requisites steps (lambda generation, aws auth)
# AWS account targeted
export AWS_ACCOUNT=
# AWS region where you aim to deploy your stack
export AWS_DEFAULT_REGION='eu-west-1'
# prefix used by all components that composed the stack
# it allow to deploy several stak in the same region/account
export STACK_PREFIX_NAME='preview'
# blip version to deploy
export STACK_VERSION=
# http web site entrypoint 
export DOMAIN_NAME= 
export ALT_DOMAIN_NAME= 
# Hosted zone domain in root53
export DNS_ZONE=
# Name of the bucket that will host your static site
# the conventions is com.diabeloop.<env>.yourloops.<awsservice>
export BUCKET="com.diabeloop.dev.yourloops.cloudfront"
export FRONT_APP_NAME=