.git
.gitignore
node_modules
npm-debug.log
_book
artifact_node.sh
config/*
!config/local.sh
!config/env.docker.sh
deploy
dist
test/bin
coverage
tmp
web
*.log

yarn.lock
package-lock.json

# Ignore old translation files
locales/*/*_old.json
