.git
.gitignore
npm-debug.log
artifact_node.sh
artifact_packaging.sh
artifact_images.sh
cloudfront-dist/deployment/node_modules
config/*
!config/local.sh
!config/env.docker.sh
app
coverage
docs
node_modules
server/node_modules
test/bin
tmp
web
*.log
yarn.lock
Dockerfile
*.md
# Ignore old translation files
locales/*/*_old.json
