# Folder view configuration files
.DS_Store
Desktop.ini

# Files used by IntelliJ
*.iml
.idea

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Application specific files
*.log
_book
node_modules
tmp
deploy/
dist/
config/*
!config/local.sh
!config/env.docker.sh
test/bin
web/
artifact_node.sh
artifact_packaging.sh
artifact_images.sh
coverage/

yarn.lock

# Ignore old translation files
locales/*/*_old.json
locales/*/parameter.*.json*

# Aqua microscanner
scanDockerImage.sh
microscanner

# Build system
server/matomo.js
server/.npmrc

# Branding
**/diabeloop/*.png
