.DS_Store
*.css
*.idea
*.iml
*.log
node_modules/
dev/demodata/indexed_segments.json
dist/
example/bundle.js
example/data/blip-input.json
example/data/blip-output.json
example/data/post-preprocess.json
example/data/universal-uploader-output.json
tmp/
web/
wiki/
