# Folder view configuration files
.DS_Store
Desktop.ini

# Files used by IntelliJ
*.iml
.idea

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Application specific files
*.log
_book
node_modules
tmp
deploy/
dist/
config/*
!config/local.sh
test/bin
web/
artifact_node.sh
coverage/


# GitBook
_book/

# Use yarn.lock
package-lock.json

# Ignore old translation files
locales/*/*_old.json
