**/*.sketch
coverage/
data/
local/
src/
stories/
storybook/
test/
.babelrc
.editorconfig
.eslintrc
.gitignore
.travis.yml
karma.conf.js
loadtests.js
package.config.js
webpack.config.js
yarn.lock
.npmrc