<!DOCTYPE html>
<html>

<head>
  <title>Tidepool</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>
  <div id="app">
    <p class="loading">Loading app...</p>
  </div>
  <!-- config -->
  <!-- Start of tidepoolsupport Zendesk Widget script -->
  <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=d1aad8b3-67d8-4f44-9d87-9e8a0ed8149d"> </script>
  <!-- End of tidepoolsupport Zendesk Widget script -->
</body>

</html>
