.settings {
  composes: settings from '../settings.css';
}

.block {
  composes: block from '../settings.css';
}

.nonBasalWrap {
  composes: nonBasalWrap from '../settings.css';
}

.settingsHeaderText {
  composes: settingsHeaderText from '../settings.css';
}

.basalSchedulesHeader {
  composes: basalSchedulesHeader from '../settings.css';
}

.collapsibleOpened {
  composes: collapsibleOpened from '../settings.css';
}

.collapsibleClosed {
  composes: collapsibleClosed from '../settings.css';
}

.bolusSettingsHeader {
  composes: bolusSettingsHeader from '../settings.css';
}

.basalTable {
  composes: basalTable from '../settings.css';
}

.settingsTable {
  composes: settingsTable from '../settings.css';
}

.lightText {
  composes: lightText from '../../../styles/typography.css';
}

:global(html > body) {
  overflow-y: scroll;
}
