
.copyButton {
  float: right;
  line-height: 0px;
  padding: 5px;
  border-radius: 0px;
  cursor: pointer;
  color: #281946;
  background-color: #f7fafa;
  border: solid 1px #dbdee0;
  outline: none;
  font-size: 14px;
}

.copyButton:hover {
  background-image: none;
  color: #FFFFFF;
  background-color: #627cff;
}

.copyButton:active {
  background-image: none;
  color: #FFFFFF;
  background-color: #627cff;
  opacity: 0.62;
}

.copyText {
  position: absolute;
  left: -5000px;
  top: 10px;
}
