<!DOCTYPE html>
<html>

  <head>
    <title>Blip</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <% if (production) { %>
    <link rel="stylesheet" href="build/<%= pkg.version %>/all.css">
    <% } else { %>
    <link rel="stylesheet" href="style.css">
    <% } %>
  </head>

  <body>

    <div id="app"></div>

    <% if (production) { %>
    <script type="text/javascript" src="build/<%= pkg.version %>/all.js"></script>
    <% } else { %>
    <% _.forEach(files.js.vendor, function(file) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }) %>
    <script type="text/javascript" src="config.js"></script>
      <% if (mock) { %>
    <script type="text/javascript" src="data.js"></script>
    <script type="text/javascript" src="mock.js"></script>
      <% } %>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="start.js"></script>
    <% } %>
    
  </body>

</html>