@import '../../../styles/colors.css';

.settingsHeaderText {
  composes: whiteText from '../../../styles/typography.css';
  font-weight: normal;
}
.basalSchedulesHeader {
  background-color: var(--basal);
  composes: settingsHeaderText;
}
.bolusSettingsHeader {
  background-color: var(--bolus);
  composes: settingsHeaderText;
}
.header {
  display: table;
}


