.StatWrapper {
  position: relative;
  overflow: visible;
}

.Stat {
  padding: 0.25em 0.625em 0.25em;
  background-color: var(--bkgrnd-white);
  border-radius: 8px;
  border: 1px solid var(--stat--border);
  overflow: hidden;
}

.chartHeader {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 1.5em;
}

.chartTitle {
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  white-space: nowrap;
  margin-top: .25em;
  color: var(--stat--dark);
}

.chartSummary {
  font-size: 1.25em;
  line-height: 1.25em;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.summaryValue {
  opacity: 1;
  display: inline;
  color: var(--stat--dark);
}

.Stat.isOpen .summaryValue {
  display: none;
}

.summarySuffix {
  color: var(--stat--dark);
}

.chartTitleData {
  display: none;
  font-size: .75em;
  padding-left: .25em;
  align-items: center;
  position: relative;
  top: -1px;
  color: var(--stat--default);
}

.chartTitleData span {
  margin-top: 1px;
}

.Stat.isOpen .chartTitleData {
  display: inline-flex;
}

.bgIcon {
  height: 24px;
  margin-bottom: -5px;
  margin-top: -5px;
}

.chartTitleData .bgIcon {
  margin-right: -0.4em;
}

.chartCollapse {
  margin-bottom: 0;
  margin-right: -0.3em;
  height: 24px;
  line-height: 1;
}

.chartCollapse img {
  position: relative;
  cursor: pointer;
}

.chartContainer {
  padding-top: 0.5em;
}

.tooltipIcon {
  position: relative;
  top: -0.3em;
  margin-left: 0.1em;
}

.tooltipIcon>img {
  width: 0.9em;
}
