.Stat {
  max-width: 300px;
  padding: .5em;
  background-color: var(--bkgrnd-white);
}

.Stat.pie {}

.Stat.barHorizontal {}

.Stat.barVertical {}

.Stat.chartHeader {
  display: flex;
  flex-wrap: nowrap;
}

.chartTitle {
  font-size: .8em;
  line-height: 1em;
  white-space: nowrap;
}
