.Stat {
  padding: 0.25em 0.625em 0.25em;
  background-color: var(--bkgrnd-white);
  border-radius: 8px;
  border: 1px solid var(--gray-dark);
  overflow: hidden;
}

.Stat.pie {
}

.Stat.barHorizontal {
}

.Stat.barVertical {
}

.chartHeader {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.chartTitle {
  font-size: 0.8em;
  line-height: 1;
  white-space: nowrap;
  margin-bottom: 0;
}

.chartCollapse {
  margin-bottom: 0;
  line-height: 1;
}

.chartCollapse img {
  cursor: pointer;
}

.chartContainer {
  padding-top: 0.5em;
}
