.settings {
  composes: settings from '../settings.css';
}

.collapsibleOpened {
  composes: collapsibleOpened from '../settings.css';
}

.collapsibleClosed {
  composes: collapsibleClosed from '../settings.css';
  margin-bottom: 5px;
}

.basalTable {
  composes: basalTable from '../settings.css';
}

.settingsTable {
  composes: settingsTable from '../settings.css';
}

.settingsHeaderText {
  composes: whiteText boldText from '../../../styles/typography.css';
}

.basalSchedulesHeader {
  background-color: var(--basal);
  composes: settingsHeaderText;
}

.lightText {
  composes: lightText from '../../../styles/typography.css';
}

.bolusSettingsHeader {
  background-color: var(--bolus);
  composes: settingsHeaderText;
}

.header {
  display: table;
}

.collapsibleHeader {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
  color: var(--text-medium-contrast);
  position: relative;
  margin-left: 30px;
}

.collapsibleHeader::before {
  content: '';
  border-bottom: 1px solid #ededed;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: -1em;
  display: block;
}

.title {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
  color: var(--text-medium-contrast);
}

.activeLabel {
  font-weight: 300;
}

.collapsibleHeader div::after {
  content: '›';
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  margin-left: 8px;
  margin-top: 1px;
  transition-duration: 0.25s;
  transform: rotate(90deg) translateX(10%);
}

.collapsibleClosed .collapsibleHeader div::after {
  margin-left: 6px;
  margin-top: -1px;
  transition-duration: 0.25s;
  transform: rotate(0deg);
}

.basalTable {
  composes: basalTable from '../settings.css';
  width: 600px;
  margin-left: 40px;
}

.basalTable th {
  color: white;
  font-weight: 600;
}

.basalTable td, .basalTable th {
  text-align: center;
}

.basalTable th:first-of-type {
  color: #727375;
}

.basalTable td:first-of-type, .basalTable th:first-of-type {
  font-weight: bold;
}
