@monday: rgb(102, 194, 165);
@tuesday: rgb(252, 141, 98);
@wednesday: rgb(141, 160, 203);
@thursday: rgb(231, 138, 195);
@friday: rgb(166, 216, 84);
@saturday: rgb(255, 217, 47);
@sunday: rgb(229, 196, 148);

.tidelineNavLabel.monday {
  background-color: @monday !important;
}
.tidelineNavLabel.tuesday {
  background-color: @tuesday !important;
}
.tidelineNavLabel.wednesday {
  background-color: @wednesday !important;
}
.tidelineNavLabel.thursday {
  background-color: @thursday !important;
}
.tidelineNavLabel.friday {
  background-color: @friday !important;
}
.tidelineNavLabel.saturday {
  background-color: @saturday !important;
}
.tidelineNavLabel.sunday {
  background-color: @sunday !important;
}

.modalDay {
  circle {
    opacity: 0.75;
  }
  path {
    fill: none;
    opacity: 0.75;
  }
}

.monday {
  circle {
    fill: @monday;
  }
  path {
    stroke: @monday;
  }
}
.tuesday {
  circle {
    fill: @tuesday;
  }
  path {
    stroke: @tuesday;
  }
}
.wednesday {
  circle {
    fill: @wednesday;
  }
  path {
    stroke: @wednesday;
  }
}
.thursday {
  circle {
    fill: @thursday;
  }
  path {
    stroke: @thursday;
  }
}
.friday {
  circle {
    fill: @friday;
  }
  path {
    stroke: @friday;
  }
}
.saturday {
  circle {
    fill: @saturday;
  }
  path {
    stroke: @saturday;
  }
}
.sunday {
  circle {
    fill: @sunday;
  }
  path {
    stroke: @sunday;
  }
}