<!DOCTYPE html>
<html>
<head>
  <title>Diabeloop</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- Start of Crowdin -->
  <!-- End of Crowdin -->
</head>
<body>
  <div id="app">
    <p class="loading">Loading app...</p>
  </div>
  <!-- config -->
  <!-- Start of support Zendesk Widget script -->
  <!-- End of support Zendesk Widget script -->
  <!-- Start of Tracker Code -->
  <!-- End of Tracker Code -->
</body>
</html>
