.header {
  display: table;
  padding-left:0px;
}
.headerOuter {
  composes: header;
  display: table-cell;
}
.headerOuterHidden {
  composes: header;
  display: none;
}
.headerInner {
  composes: header;
  display: block;
  margin: 5px 5px 5px 0;
}
