@import '../../../styles/colors.css';

.basalSchedulesHeader {
  background-color: var(--basal);
  composes: white-text from '../../../styles/typography.css';
}
.bolusSettingsHeader {
  background-color: var(--bolus);
  composes: white-text from '../../../styles/typography.css';
}
.settings {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-around;
}
.header {
  display: table;
}
.headerOuter {
  composes: header;
  display: table-cell;
}
.headerInner {
  composes: header;
  display: block;
  margin: 5px;
}

