@import '../../styles/colors.css';

.settings {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.block {
  margin-right: 10px;
  margin-bottom: 10px;
}

.nonBasalWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.settingsHeaderText {
  composes: whiteText boldText from '../../styles/typography.css';
  min-width: 160px;
  padding-left: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: left;
  font-size: 14px;
}

.basalSchedulesHeader {
  composes: settingsHeaderText;
  min-width: 160px;
  background-color: var(--basal);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  padding-right: 20px;
}

.collapsibleClosed .basalSchedulesHeader::after {
  content: '›';
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 45%;
  transform: translateY(-50%);
  transition: 0.25s;
}

.collapsibleOpened .basalSchedulesHeader::after {
  content: '›';
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-40%) rotate(90deg);
  transition: 0.25s;
}

.bolusSettingsHeader {
  background-color: var(--bolus);
  composes: settingsHeaderText;
}

.basalTable {
  font-size: 14px;
  min-width: 200px;
  border-spacing: 1px 0px;
  color: var(--text-medium-contrast);
  border-collapse: separate;
}

.basalTable td, .basalTable th {
  padding: 10px;
  text-align: right;
}

.basalTable th {
  font-weight: normal;
  color: #8B8C8F;
}

.basalTable tbody tr:nth-child(odd) {
  background-color: var(--table-stripe--dark);
}

.basalTable tbody tr:nth-child(even), .basalTable thead tr {
  background-color: var(--table-stripe--light);
}

.basalTable tbody tr:last-of-type {
  font-weight: bold;
}

.settingsTable {
  composes: basalTable;
}

.settingsTable tbody tr:last-of-type {
  font-weight: normal;
}

.basalTable th:first-of-type, .basalTable td:first-of-type {
  text-align: left;
}
