@import '../../styles/colors.css';

.basalSchedulesHeader {
  background-color: var(--basal);
  composes: whiteText from '../../styles/typography.css';
}
.bolusSettingsHeader {
  background-color: var(--bolus);
  composes: whiteText from '../../styles/typography.css';
}

