:root {
  --color-primary-main: #039be5;
  --color-primary-light: #4dabf5;
  --color-primary-dark: #1769aa;

  --color-secondary-main: #EDFAFF;
  --color-secondary-light: #F5F9F9;
  --color-secondary-dark: #bbc7cc;

  --blip-color-primary-light: #4dabf5;
  --blip-color-primary-alt: #039be5;
  --blip-color-secondary-alt: #EDFAFF;
}
